@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&family=Poppins:wght@200;300;500;600;700&family=Rubik:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
/* font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif; */
}

.desktop{
    background-image: url('./assets/dbackground.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;

}


.icon{
    color: #005FC0;
    font-size: 1.5rem;
    margin-right: 0.8rem;
    margin-top: 1.5rem;
}
.iconf{
    color: #005FC0;
    font-size: 1.3rem;
    margin-right: 0.8rem;
    margin-top: 1.5rem;
}